# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Idea files
.idea
*.iml
*.ipr
*.iws

# Dep lockfile
Gopkg.lock

# Build output
bin
pkg
vendor